/* Estilo para la tabla */
table {
    width: 90%; /* Amplitud optimizada para el contenedor */
    margin: 10px auto; /* Centrado horizontal y margen controlado */
    border-collapse: collapse; /* Eliminamos los espacios entre bordes de celdas */
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil para una sensación de elevación */
}

th, td {
    border: 1px solid #2980b9; /* Bordes azules para mantener coherencia con el diseño general */
    padding: 8px; /* Espaciado adecuado para una lectura clara */
    text-align: center; /* Alineación uniforme de contenido */
}

th {
    background-color: #d1eaf5; /* Fondo suave azul claro para el encabezado */
    font-weight: bold; /* Tipografía destacada para el encabezado */
}

td {
    color: #34495e; /* Color de texto gris-azulado oscuro optimizado para legibilidad */
}

tbody tr:hover {
    background-color: #dfeffc; /* Fondo azul muy claro al hacer hover en filas */
}

/* Estilo general para el cuerpo */
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    background-color: #eaeff2; /* Color de fondo suave y armonioso con el anterior */
    font-family: Arial, sans-serif;
}

/* Estilo para formularios */
form {
    display: flex;
    flex-direction: column;
    background-color: #ffffff; /* Fondo blanco que resalta sobre el fondo general */
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra leve */
    width: 90%;
}

/* Estilo para encabezados */
h2 {
    font-size: 20px;
    color: #2980b9; /* Azul marino suave para destacar los títulos */
    margin-bottom: 15px;
    text-align: center;
    font-weight: bold;
}

/* Estilo para inputs */
input {
    font-size: 14px;
    width: 95%;
    padding: 8px;
    margin-bottom: 15px;
    border: 2px solid #2980b9; /* Borde azul marino para coherencia visual */
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
}

/* Estilo para botones */
button {
    background-color: #2980b9; /* Azul marino para los botones */
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 15px;
}

/* Estilo para hover en botones */
button:hover {
    background-color: #1c5984; /* Azul marino más oscuro al hacer hover */
}

/* Estilo para enlaces */
a {
    display: block;
    margin: 10px 0;
    padding: 10px;
    font-size: 18px;
    color: white;
    text-decoration: none;
    background-color: #007bff; /* Azul estándar para enlaces */
    border-radius: 5px;
}

a:hover {
    background-color: #0056b3; /* Azul más oscuro en hover */
}
