body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f0f0f5; /* Fondo más suave */
}

h1 {
  text-align: center;
  color: #333;
}

.contenedor-productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.producto {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  width: 200px;
  transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
}

.producto:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  background-color: #e3f2fd; /* Fondo azul claro al hacer hover */
}

.producto-imagen {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 2px solid #27ae60; 

}

.producto-detalle h3 {
  color: #333;
  margin: 10px 0;
  font-size: 16px;
}

.producto-codigo {
  font-weight: bold;
  color: #555;
}

.producto-precio {
  font-size: 18px;
  color: red !important;
  font-weight: bold;
}


.producto-descripcion {
  font-size: 14px;
  color: #777;
  margin-top: 10px;
}
